<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사원 수정</title>
</head>
<body>
	<form id="frm" name="frm" th:object="${empVO}">
	<!-- ajax로 보낼 때는 th:action이랑 method가 필요하지 않다 -->
		<div>
			<label id="empId">사원번호</label>
			<input type="text" id="empId" th:field="*{employeeId}">
		</div>
		<div>
			<label id="name">이름</label>
			<input type="text" id="name" th:field="*{lastName}">
		</div>
		<div>
			<label id="email">이메일</label>
			<input type="text" id="email" th:field="*{email}">
		</div>
		<div>
			<label id="hireDate">입사일</label>
			<input type="text" id="hireDate" th:field="*{hireDate}">
		</div>
		<div>
			<label id="job">업무</label>
			<input type="text" id="job" th:field="*{jobId}">
		</div>
		<div>
			<button type="button" id="save">등록</button>
			<button type="reset">취소</button>
		</div>
	</form>
	<script>
		$("#save").on("click", function() {
			$.ajax("employees", {
				method : "put",
				contentType : "application/json",
				data : JSON.stringify($("#frm").serializeObject())
				// data : $("#frm").serialize()
			})
			.done(result => {
				alert("수정완료")
			})
		})
		$("#save").on("click", function() {
			fetch("employees", {
				method : "PUT",
				headers : {
					'Content-Type' : 'application/json'
					// 'Content-Type' : "application/x-www-form-urlencoded"
				},
				body : JSON.stringify($("#frm").serializeObject())
				// body의 데이터 유형은 반드시 "Content-Type"
				// body : new FormData(frm)
			});
		});
	</script>
</body>
</html>