<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.java.book.mapper.BookMapper">
	<select id="getBookList" resultType="BookVO">
		select book_no, book_name, book_coverimg, book_date, book_price, book_publisher, book_info
		from book_tbl_06
		order by book_no
	</select>
	
	<select id="getBookByRent" resultType="RentVO">
		select a.book_no, book_name, price, book
		from book_tbl_06 a join (select book_no, sum(rent_price) price, count(book_no) book
								 from rent_tbl_06
								 group by book_no) b
		on a.book_no = b.book_no
		order by 1
	</select>
	
	<insert id="insert" parameterType="BookVO">
		insert into book_tbl_06 (book_no, book_name, book_coverimg, book_date, book_price, book_publisher, book_info)
		values (#{bookNo}, #{bookName} 
		<if test="bookCoverimg != null and bookCoverimg != ''">, #{bookCoverimg}</if>
		<if test="bookDate != null and bookDate != ''">, #{bookDate}</if>
		<if test="bookPrice != null and bookPrice != ''">, #{bookDate}</if>
		<if test="bookPublisher != null and bookPublisher != ''">, #{bookPublisher}</if>
		<if test="bookInfo != null and bookInfo != ''">, #{bookInfo}</if>)
	</insert>
	
	<select id="test" resultType="string">
		select max(book_no) + 1
		from book_tbl_06
	</select>
</mapper>