<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	<typeAliases>
		<package name="com.yedam.java.emp.service" />
		<!-- 개별로 typeAliase를 줄 수도 있지만 여러개를 해야하기때문에 굳이 따로 나누지 않는다 -->
		<!-- *(아스타)를 사용할 수 없다 -->
		<package name="com.yedam.java.book.service" />
	</typeAliases>
	<typeHandlers>
		<typeHandler javaType="java.sql.Date"
			handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>
</configuration>